/* Estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Header e Navegação */
header {
  background-color: #a08ee6;
  padding: 1rem;
  text-align: center;
  color: white;
}

header h1 {
  margin-bottom: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  position: relative;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  transition: background 0.3s;
}

nav ul li a:hover {
  background-color: #45a049;
  border-radius: 5px;
}

/* Estilos para o Dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #907be6;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li a {
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

main {
  padding: 2rem;
  text-align: center;
}
