*{
    margin:0;
    padding:0;
}
#rodape{
background-color: aliceblue;
color: #a08ee6;
font-size: 20px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#rodape{
position: fixed;
bottom: 0;
left: 0;
display: block;
width: 100%;
padding: 25px 35px;
cursor: pointer;
}
