<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Exemplo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='botoes_login.css')}}">
    
</head>
<body>
    <header>
        <h1>Inspire mundo terapeutico</h1>
        <nav>
            <ul>
                
                <li><a href="/login">login</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Bem-vindo à nossa clínica!</h2>
        <p>Oferecemos serviços médicos especializados para cuidar da sua saúde.</p>
    </main>
</body>
</html>
